<div class="content__title">
  <h1 class="level1-heading"><%= settings.app_title %>とは</h1>
</div>

<div class="content__text">
  <p><%= settings.app_title %>は、作者が<a href="https://bootcamp.fjord.jp" target="new">フィヨルドブートキャンプ</a>でSinatraを学習するために作ったアプリケーションです。</p>
</div>
