<div class="content__title">
  <h1 class="level1-heading">
    <span class="level1-heading__inner"><%= settings.app_title %>とは</span>
  </h1>
</div>

<section>
  <p><%= settings.app_title %>は、作者が<a href="https://bootcamp.fjord.jp" target="new">フィヨルドブートキャンプ</a>でSinatraを学習するために作ったアプリケーションです。</p>
</section>
