<h2>変更</h2>
<form action="/" method="PUT">
  タイトル:<br>
  <input type="text" name="title"><br>
  本文:<br>
  <textarea name="message" rows="5"></textarea><br>
  <input type="submit" value="変更">
</form>
<a href="/">ホーム</a>
