<h2>ホーム</h2>

<form action="/new" method="get">
  <input type="submit" value="新規作成">
</form>
<% settings.md.mda.each_index do |i| %>
  <li><a href="/memos/<%= i %>"><%= settings.md.get_memo(i).title %></a></li>
<% end %>
<a href="/about"><%= $title %>とは</a>
