<h2>ホーム</h2>
<form action="/new" method="GET">
  <input type="submit" value="新規作成">
</form>
<ul>
  <% @memo_num.times do |i| %>
    <li><a href="/memos/<%= i %>">メモ<%= i %></a></li>
  <% end %>
</ul>
<a href="/about"><%= @title %>とは</a>
