<div class="content__title">
  <h1 class="level1-heading">
    <span class="level1-heading__inner">ホーム</span>
  </h1>
</div>

<div id="table-top" class="content__table">
  <div class="table">
    <table class="table__inner">

      <thead class="table__headers">
        <tr class="table__header-row">
          <th class="table__header">メモID</th>
          <th class="table__header">タイトル</th>
          <th class="table__header">内容</th>
        </tr>
      </thead>

      <tbody class="table__body">
        <% unless @memos.empty? %>
          <% @memos.each do |memo_id, title_body| %>
            <% title = title_body["title"] %>
            <% body = title_body["body"] %>
            <tr class="table__body-row js-table__row-link" data-href="/memos/<%= memo_id %>">
              <td class="table__text"><%= memo_id %></td>
              <td class="table__text"><%= h title %></td>
              <td class="table__text"><%= h body %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <script src="/js/table_click.js"></script>
  </div>
</div>

<div class="content__btn">
  <form action="/memos/new" method="get">
    <input class="rounded-btn" type="submit" value="メモ新規作成">
  </form>
</div>

<div class="content__top">
  <span class="before-icon before-icon_chevron_up">
    <a class="table-top" href="#table-top">表の先頭へ戻る</a>
  </span>
</div>

