<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <title><%= $title %></title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <div id="page">
      <section class="detailBody">

        <%= yield %>

        <footer id="pageFoot">
          <p id="copyright"><small>Copyright&copy; 2021 keikosmile All Rights Reserved.</small></p>
        </footer>

      </section>
    </div>
  </body>
</html>
