<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title><%= settings.app_title %></title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css?v=1">
  </head>

  <body>
    <header class="header">
      <div class="header__inner">

        <div class="header__media">
          <a class="media media__link" href="/">
            <img class = "media__img" src="/images/memo.jpg" alt="memo photo.">
            <div class="media__body">
              <div class="media__title">
                <%= settings.app_title %>
              </div>
              <div class="media__text">
                メモを共有しよう
              </div>
            </div>
          </a>
        </div>

        <div class="header__btn">
          <a class="round-btn" href="/about">?</a>
        </div>
      </div>
    </header>

    <main class="main">
      <%= yield %>
    </main>

    <footer class="footer">
      <div class="footer__inner">
        <small class="footer__copyright">&copy; 2021 keikosmile All Rights Reserved.</small>
      </div>
    </footer>

  </body>
</html>
