<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <title><%= settings.app_title %></title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <header class="header">
      <div class="header__inner">

        <div class="header__media">
          <a class="media media_link" href="/">
            <figure class="media__img-wrapper">
              <img class = "media__img" src="/images/memo.jpg" alt="写真：メモ">
            </figure>
            <div class="media__body">
              <h3 class="media__title">
                <%= settings.app_title %>
              </h3>
              <p class="media__text">
                メモを共有しよう
              </p>
            </div>
          </a>
        </div>

        <div class="header__btn">
          <a class="btn" href="/about"><p>メモアプリとは</p></a>
        </div>
      </div>
    </header>

    <main>
      <section class="content">
        <%= yield %>
      </section>
    </main>

    <footer>
      <div class="footer footer__border_top-grey">
        <div class="footer__inner">
          <small class="footer__copyright">&copy; 2021 keikosmile All Rights Reserved.</small>
        </div>
      </div>
    </footer>

  </body>
</html>
