<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <title><%= $title %></title>
    <link rel="stylesheet" type="text/css" href="/style.css" >
  </head>
  <body>
    <h1><%= settings.app_title %></h1>
    <%= yield %>
  </body>
</html>
