<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <title><%= settings.app_title %></title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css?v=2">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/table_click.js"></script>
  </head>

  <body>
    <!-- ヘッダー -->
    <header class="header">
      <div class="header__inner">

        <!-- ヘッダー内のメディア -->
        <div class="header__media">
          <a class="media media_link" href="/">
            <figure class="media__img-wrapper">
              <img class = "media__img" src="/images/memo.jpg" alt="写真：メモ">
            </figure>
            <div class="media__body">
              <h3 class="media__title">
                <%= settings.app_title %>
              </h3>
              <p class="media__text">
                メモを共有しよう
              </p>
            </div>
          </a>
        </div>
        <!-- /.header__media -->

        <!-- ヘッダー内のボタン -->
        <div class="header__btn">
          <a class="btn" href="/about"><p>メモアプリとは</p></a>
        </div>
        <!-- /.header__btn -->
      </div>
    </header>

    <!-- コンテンツ -->
    <main>
      <section class="content">
        <%= yield %>
      </section>
    </main>

    <!-- フッター -->
    <footer>
      <!-- フッター内のボーダー -->
      <div class="footer footer__border_top-grey">
        <!-- フッター内のインナー -->
        <div class="footer__inner">
          <small class="footer__copyright">&copy; 2021 keikosmile All Rights Reserved.</small>
        </div>
      </div>
    </footer>

  </body>
</html>
