<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <title><%= settings.app_title %></title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css?v=2">
  </head>

  <body>
    <header class="header">
      <div class="header__inner">

        <div class="header__media">
          <a class="media media_link" href="/">
            <img class = "media__img" src="/images/memo.jpg" alt="写真：メモ">
            <div class="media__body">
              <div class="media__title">
                <%= settings.app_title %>
              </div>
              <div class="media__text">
                メモを共有しよう
              </div>
            </div>
          </a>
        </div>

        <div class="header__btn">
          <a class="round-btn" href="/about">?</a>
        </div>
      </div>
    </header>

    <main class="main">
      <section class="content">
        <%= yield %>
      </section>
    </main>

    <footer>
      <div class="footer footer__border_top-grey">
        <div class="footer__inner">
          <small class="footer__copyright">&copy; 2021 keikosmile All Rights Reserved.</small>
        </div>
      </div>
    </footer>

  </body>
</html>
