<h2>新規作成</h2>
<form action="/" method="POST">
  タイトル:<br>
  <input type="text" name="title"><br>
  本文:<br>
  <textarea name="message" rows="5"></textarea><br>
  <input type="submit" value="保存">
</form>
<a href="/">ホーム</a>
