<h2>新規作成</h2>
<form action="/new" method="post">
  タイトル:<br>
  <input type="text" name="title" value=""><br>
  本文:<br>
  <textarea name="content" cols="60" rows="5" value=""></textarea><br>
  <input type="submit" value="保存">
</form>
<a href="/">ホーム</a>
