<h1 class="level1-heading">
  <span class="level1-heading__inner">メモ新規作成</span>
</h1>

<div class ="input">
  <form action="/memos/new" method="post">
      <h2 class="input__lebel level2-heading">タイトル</h2>
      <input class="input__input js_title rounded-input" type="text" name="title" placeholder="30字以内でお願いします。" value="">
      <div class="input__text js_title_cnt_area"><span class="js_now_title_cnt">0</span>/30</div>

      <h2 class="input__lebel level2-heading">内容</h2>
      <textarea class="input__textarea js_body rounded-textarea" name="body" rows="10" placeholder="500字以内でお願いします。" value=""></textarea>
      <div class="input__text js_body_cnt_area"><span class="js_now_body_cnt">0</span>/500</div>

    <input class="input__btn js_btn rounded-btn" type="submit" value="メモ保存">
  </form>
</div>
 <!-- /.input -->
