<div class="content__title">
  <h1 class="level1-heading">メモ新規作成</h1>
</div>

<div class="content__input">
  <div class="js-2input">
    <form action="/memos/new" method="post">

      <div class ="input">
        <h2 class="input__label level2-heading">タイトル</h2>
        <input class="js-2input__input-title input__input rounded-input" type="text" name="title" placeholder="30字以内でお願いします。" value="">
        <div class="js-2input__judge-title input__text">
          <span class="js-2input__count-title">0</span>/30
        </div>
      </div>

      <div class ="input">
        <h2 class="input__label level2-heading">内容</h2>
        <textarea class="js-2input__input-body input__input rounded-textarea" name="body" rows="10" placeholder="500字以内でお願いします。" value=""></textarea>
        <div class="js-2input__judge-body input__text">
          <span class="js-2input__count-body">0</span>/500
        </div>
      </div>

      <input class="js-2input__btn rounded-btn" type="submit" value="メモ保存">
    </form>
    <script src="/js/input_limit.js"></script>
  </div>
</div>
