@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

/* ベーススタイル
==================== */

body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
}

a {
  color: #0069ff;
}

/* ブロック レイアウト
==================== */

/* ヘッダー */
.header {
  max-width: 1152px;
  margin: 0 auto;
}

.header__inner {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 72px;
}

/* コンテンツ */
.content__table,
.content__text,
.content__input {
  max-width: 1152px;
  margin: 0 auto;
  padding: 30px 15px;
}

.content__btn {
  text-align: center;
}

.content__top {
  margin-top: 20px;
}

.input__label,
.input__text {
  margin-bottom: 20px;
}

.input__input {
  margin-bottom: 10px;
}

/* フッター */
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #9edb98;
}

.footer__inner {
  max-width: 95%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* エレメント
==================== */

/* テキストボックス */
.rounded-input {
  display: inline-block;
  width: 100%;
  border: 1px solid #999;
  border-radius: 0.25em;
  font-size: 1.125rem;
  padding: 0;
}

/* テキストエリア */
.rounded-textarea {
  display: inline-block;
  width: 100%;
  border: 1px solid #999;
  border-radius: 0.25em;
  font-size: 1.125rem;
  padding: 0;
}

/* ボタン */
.round-btn {
  display: inline-block;
  background-color: #fff;
  color: #d3c9c9;
  border: 2px solid #d3c9c9;
  border-radius: 50%;
  box-shadow: 0 1px 1px #0000004d;

  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;

  transition: .25s;
}

.round-btn:focus,
.round-btn:hover {
  background-color: #dce9df;
  border-color: transparent;
  color: #fff;
}

.rounded-btn {
  display: inline-block;
  width: 200px;
  max-width: 100%;
  padding: 15px 10px;
  background-color: #b5e7e1;
  border: 2px solid transparent;
  box-shadow: 0 3px 6px rgba(0,0,0,.16);
  border-radius: 10px;
  color: #222;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  transition: .25s;
}

.rounded-btn:focus,
.rounded-btn:hover {
  background-color: #fff;
  border-color: currentColor;
  color: #b5e7e1;
}

.rounded-btn_warning {
  background-color: #f1de00;
  color: #222;
}

.rounded-btn_warning:focus,
.rounded-btn_warning:hover {
  border-color: #f1de00;
  color: #222;
}

.rounded-btn_alert {
  background-color: #e25c00;
  color: #fff;
}

.rounded-btn_alert:focus,
.rounded-btn_alert:hover {
  border-color: #e25c00;
  color: #e25c00;
}

.rounded-btn:disabled {
  background-color: #a2b3aa;
  border-color: currentColor;
  color:#fff;
}

.js-danger {
  color: #FF0000;
}

/* アイコン */
.before-icon::before {
  display: inline-block;
  margin-right: .3em;
}

.before-icon_chevron_up::before {
  content: '';
  width: .375em;
  height: .375em;
  border-bottom: .125em solid #999966;
  border-left: .125em solid #999966;
  transform: rotate(135deg) translateY(-50%);
}

/* 見出し */
.level1-heading {
  padding: 30px 10px;
  background-color: #b5e7e1;
  color: #222;
  font-size: 1.75rem;
  text-align: center;
}

.level2-heading {
  padding-bottom: 10px;
  border-bottom: 4px solid #b5e7e1;
  font-size: 1.75rem;
  font-weight: bold;
}

/* ボーダーライン */
.footer__border_top-grey {
  border-top: 1px solid #777;
}

/* コピーライト */
.footer__copyright {
  font-size: .75rem;
}

/* 複合エレメント
==================== */

/* メディア */
.media {
  box-shadow: 0 3px 6px rgba(0,0,0,.16);
  display: flex;
  align-items: center;
}

.media__img {
  width: 50px;
  margin-right: 10px;
}

.media__title {
  font-family: 'Yusei Magic';
  font-size: 1.5rem;
}

.media__text {
  color: #777;
  font-size: 0.75rem;
}

.media_link {
  color: currentColor;
  text-decoration: none;
  transition: .25s;
}

.media_link:focus,
.media_link:hover {
  opacity: .75;
}

.media_link:focus .media__title,
.media_link:focus .media__text,
.media_link:hover .media__title,
.media_link:hover .media__text {
  color: #e25c00;
  text-decoration: underline;
}

/* テーブル */
.table {
  border: 1px solid #ddd;
}

.table__inner {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  font-size: 1.125rem;
}

.table__header {
  padding: 15px;
  background-color: #efefef;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  vertical-align: middle;
}

.table__text {
  padding: 15px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
  overflow-wrap: break-word;
}

.table__header:last-child,
.table__text:last-child {
  border-right-width: 0;
}

.table__body-row:last-child .table__text {
  border-bottom-width: 0;
}

.table__body-row {
  cursor: pointer;
}

.table__body-row:hover {
  background-color: #df9a33;
}

/* 水平ボタンリスト */
.horizontal-btn-list {
  display: flex;
  list-style: none;
}

.horizontal-btn-list > *:last-child {
  margin-right: 0;
}

.horizontal-btn-list__item {
  flex: 1 1 0;
  max-width: 200px;
  margin-right: 20px;
}

.horizontal-btn-list__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* インプット */
.input__text {
  font-size: 1.125rem;
}
