@import url('https://fonts.googleapis.com/css?family=Yusei+Magic&display=swap');

/*  ====================
    Base
    ==================== */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  line-height: 1.5;
  color: #555;
}

a {
  color: #36a;
}

/*  ====================
    Layout
    ==================== */

/*  header
    ==================== */
.header__inner {
  display: flex;
  max-width: 680px;
  height: 72px;
  padding: 0 15px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/*  main
    ==================== */
.main {
  flex: 1;
}

.main__table,
.main__text,
.main__input {
  max-width: 680px;
  padding: 30px 15px;
  margin: 0 auto;
}

.main__btn,
.input-form__btn {
  text-align: center;
}

.main__top {
  margin-top: 15px;
  padding-right: 10%;
  text-align: right;
}

.input__label,
.input__text {
  margin-bottom: 20px;
}

.input__input {
  margin-bottom: 10px;
}

/*  footer
    ==================== */
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__inner {
  max-width: 95%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/*  ====================
    Module
    ==================== */

/*  media
    ==================== */
.media {
  display: flex;
  align-items: center;
  box-shadow: 0 1px 1px #0000004d;
}

.media__img {
  width: 50px;
  margin-right: 10px;
}

.media__title {
  font-family: 'Yusei Magic';
  font-size: 1.5rem;
}

.media__text {
  font-size: .75rem;
  color: #777;
}

.media__link {
  text-decoration: none;
  color: currentColor;
  transition: .25s;
}

.media__link:focus,
.media__link:hover {
  opacity: .75;
}

.media__link:focus .media__title,
.media__link:focus .media__text,
.media__link:hover .media__title,
.media__link:hover .media__text {
  text-decoration: underline;
  color: #d87;
}

/*  heading
    ==================== */
.level1-heading {
  padding: 20px 10px;
  font-size: 1.75rem;
  text-align: center;
  background-color: #cee;
}

.level2-heading {
  padding-bottom: 10px;
  border-bottom: 4px solid #cee;
  font-size: 1.75rem;
}

/*  table
    ==================== */
.table__inner {
  width: 100%;
  border: 1px solid #ddd;
  table-layout: fixed;
  vertical-align: middle;
}

.table__header {
  padding: 4px 12px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  text-align: center;
  background-color: #eee;
}

.table__text {
  padding: 8px 12px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  overflow-wrap: break-word;
}

.table__body-row {
  cursor: pointer;
}

.table__body-row:hover {
  background-color: #eff;
}

/*  button
    ==================== */
.round-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid #ddd;
  border-radius: 50%;
  box-shadow: 0 1px 1px #0000004d;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  color: #ddd;
  transition: .25s;
}

.round-btn:focus,
.round-btn:hover {
  background-color: #ddd;
  border-color:  #ddd;
  color: #fff;
}

.rounded-btn {
  display: inline-block;
  width: 200px;
  max-width: 100%;
  padding: 15px 10px;
  border: 2px solid transparent;
  box-shadow: 0 1px 1px #0000004d;
  border-radius: 10px;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  background-color: #d87;
  color: #fff;
  transition: .25s;
  cursor: pointer;
}

.rounded-btn:focus,
.rounded-btn:hover {
  background-color: #fff;
  border-color: currentColor;
  color: #d87;
}

.rounded-btn_warning {
  background-color: #dc5;
}

.rounded-btn_warning:focus,
.rounded-btn_warning:hover {
  color: #dc5;
}

.rounded-btn:disabled {
  background-color: #ddd;
  box-shadow: none;
  pointer-events: none
}

/*  horizontal button list
    ==================== */
.horizontal-btn {
  display: inline-block;
}

.horizontal-btn-list {
  display: flex;
  list-style: none;
}

.horizontal-btn-list > *:last-child {
  margin-right: 0;
}

.horizontal-btn-list__item {
  flex: 1 1 0;
  margin-right: 20px;
}

.horizontal-btn-list__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/*  icon
    ==================== */
.before-icon::before {
  display: inline-block;
  margin-right: .3em;
}

.before-icon_chevron_up::before {
  content: '';
  width: .375em;
  height: .375em;
  border-bottom: .125em solid #996;
  border-left: .125em solid #996;
  transform: rotate(135deg) translateY(-50%);
}

/*  copyright
    ==================== */
.footer__copyright {
  font-size: .75rem;
}

/*  input form
    ==================== */
.rounded-input {
  display: inline-block;
  width: 100%;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 0.25em;
  font-size: 1.125rem;
}

.input__text {
  font-size: 1.125rem;
  overflow-wrap: break-word;
}

.input__text_right {
  text-align: right;
}

/*  textarea
    ==================== */
.rounded-textarea {
  display: inline-block;
  width: 100%;
  padding: 5px;
  border: 1px solid #999;
  border-radius: .25em;
  font-size: 1.125rem;
}

/*  ====================
    State
    ==================== */

.js-danger {
  color: #F00;
}
