@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

/* =================
      Base
==================== */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #555;
  font-family: sans-serif;
  line-height: 1.5;
}

a {
  color: #3b6bad;
}

/* =================
      Layout
==================== */

/* ヘッダー */
.header__inner {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 72px;
}

/* メイン */
.main {
  flex: 1;
}

.main__table,
.main__text,
.main__input {
  max-width: 1152px;
  margin: 0 auto;
  padding: 30px 15px;
}

.main__btn,
.input-form__btn {
  text-align: center;
}

.main__top {
  margin-top: 15px;
  padding-right: 10%;
  text-align: right;
}

.input__label,
.input__text {
  margin-bottom: 20px;
}

.input__input {
  margin-bottom: 10px;
}

/* フッター */
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__inner {
  max-width: 95%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* =================
      Module エレメント
==================== */

/* メディア */
.media {
  box-shadow: 0 1px 1px #0000004d;
  display: flex;
  align-items: center;
}

.media__img {
  width: 50px;
  margin-right: 10px;
}

.media__title {
  font-family: 'Yusei Magic';
  font-size: 1.5rem;
}

.media__text {
  color: #777;
  font-size: 0.75rem;
}

.media_link {
  color: currentColor;
  text-decoration: none;
  transition: .25s;
}

.media_link:focus,
.media_link:hover {
  opacity: .75;
}

.media_link:focus .media__title,
.media_link:focus .media__text,
.media_link:hover .media__title,
.media_link:hover .media__text {
  color: #db817a;
  text-decoration: underline;
}

/* 見出し */
.level1-heading {
  padding: 20px 10px;
  background-color: #b5e7e1;
  font-size: 1.75rem;
  text-align: center;
}

.level2-heading {
  padding-bottom: 10px;
  border-bottom: 4px solid #b5e7e1;
  font-size: 1.75rem;
}

/* テーブル */
.table__inner {
  width: 100%;
  border: 1px solid #ddd;
  table-layout: fixed;
  vertical-align: middle;
}

.table__header {
  background-color: #efefef;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  text-align: center;
  padding: 4px 12px;
}

.table__text {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  overflow-wrap: break-word;
  padding: 8px 12px;
}

.table__body-row {
  cursor: pointer;
}

.table__body-row:hover {
  background-color: #eefdfb;
}

/* ボタン */
.round-btn {
  display: inline-block;
  background-color: #fff;
  color: #d3c9c9;
  border: 2px solid #d3c9c9;
  border-radius: 50%;
  box-shadow: 0 1px 1px #0000004d;

  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;

  transition: .25s;
}

.round-btn:focus,
.round-btn:hover {
  background-color: #eefdfb;
  border-color: #eefdfb;
}

.rounded-btn {
  display: inline-block;
  width: 200px;
  max-width: 100%;
  padding: 15px 10px;
  background-color: #db817a;
  color: #fff;
  border: 2px solid transparent;
  box-shadow: 0 1px 1px #0000004d;
  border-radius: 10px;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  transition: .25s;
}

.rounded-btn:focus,
.rounded-btn:hover {
  background-color: #fff;
  border-color: currentColor;
  color: #db817a;
}

.rounded-btn_warning {
  background-color: #f1de00;
  color: #555;
}

.rounded-btn_warning:focus,
.rounded-btn_warning:hover {
  border-color: #f1de00;
  color: #555;
}

.rounded-btn:disabled {
  background-color: #bdbec0d5;
  border-color: #bdbec0d5;
  box-shadow: none;
  color:#fff;
}

/* 水平ボタンリスト */
.horizontal-btn {
  display: inline-block;
}

.horizontal-btn-list {
  display: flex;
  list-style: none;
}

.horizontal-btn-list > *:last-child {
  margin-right: 0;
}

.horizontal-btn-list__item {
  flex: 1 1 0;
  margin-right: 20px;
}

.horizontal-btn-list__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* アイコン */
.before-icon::before {
  display: inline-block;
  margin-right: .3em;
}

.before-icon_chevron_up::before {
  content: '';
  width: .375em;
  height: .375em;
  border-bottom: .125em solid #999966;
  border-left: .125em solid #999966;
  transform: rotate(135deg) translateY(-50%);
}

/* コピーライト */
.footer__copyright {
  font-size: .75rem;
}

/* テキストボックス */
.rounded-input {
  display: inline-block;
  width: 100%;
  border: 1px solid #999;
  border-radius: 0.25em;
  font-size: 1.125rem;
  padding: 5px;
}

/* テキストエリア */
.rounded-textarea {
  display: inline-block;
  width: 100%;
  border: 1px solid #999;
  border-radius: 0.25em;
  font-size: 1.125rem;
  padding: 5px;
}

/* インプット */
.input__text {
  font-size: 1.125rem;
  overflow-wrap: break-word;
}

.input__text_right {
  text-align: right;
}

/* =================
      State
==================== */

.js-danger {
  color: #FF0000;
}
